
.daron_search_index{
align-items: center;
text-align: center;
place-content: center;
display: flex;
border-style: solid;
border-color: blue;
padding: 1%;
border-radius: 25px;
}

.button_search_index{
padding: 3%;
border-style: solid;
border-color: lightgrey;
background-color: white;
margin-left: 1rem;
border-radius: 0% 10% 0% 10%;


}

.cool_title {
  text-align: center;
  text-decoration: underline;
 padding-left: 2%;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 80px;
  // transform: skewY(-5deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: red;
  text-shadow:
    -1px -1px 0 rgb(30, 100, 206),
    -2px -2px 0 rgb(30, 100, 206),
    -3px -3px 0 rgb(30, 100, 206),
    -4px -4px 0 rgb(30, 100, 206),
    -5px -5px 0 rgb(30, 100, 206),
    -6px -6px 0 rgb(30, 100, 206),
    -7px -7px 0 rgb(30, 100, 206),
    -8px -8px 0 rgb(30, 100, 206),

}

.cool_title_small {
  text-align: center;
  text-decoration: underline;
 padding-left: 2%;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 20px;
  // transform: skewY(-5deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: red;
  text-shadow:
    -1px -1px 0 rgb(30, 100, 206),
    -2px -2px 0 rgb(30, 100, 206),
}


.cards,.card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-top: 0%;
  text-align: center;
  margin-left: 30px;
  width: 90vw;
}

a {
    text-decoration: none;
}

#daron_search_form {
  width: 70vw;
}

.card {
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
  transition: 0.2s;
  color: black;
  text-align: center;
  margin: 10px;
  height: 500px;
  width: 300px;
  p { height: 40px; }
  * {
    text-decoration: none;
  }
}

.card_dash {
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
  transition: 0.2s;
  color: black;
  text-align: center;
  margin: 10px;
  height: 700px;
  p { height: 40px; }
  * {
    text-decoration: none;
  }
}

.cards_dash,.card-group-dash {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-top: 0%;
  text-align: center;
}

.card-img-top{
  height: 150px;
  width: 150px;
  align-items: center;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  object-fit:cover;
  background-size: cover;
}


.card:hover {
  transform: translate(2rem, -1rem);
}

.card_dash:hover {
  transform: translate(2rem, -1rem);
}
