<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:3000/">
      <img src="../../assets/logo 1.png" style="width:150px"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
        <h5>
        <a class="devenir_daron_link"><%= link_to 'Devenir Daron', new_daron_path %> </a>
        </h5>

        </li>
        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../assets/jean_pierre_foucault.png" style="width:45px"/>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Mon Profil</a>
            <a class="dropdown-item" href="#">Mes reservations</a>
            <%# <a><%= link_to 'Mon Profile', user_session_path %></a>
            <%# <a><%= link_to 'Mes Reservation', daron_booking_path %></a>

          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
