<head>

</head>

<body>

<%# LA HERO BANNER %>

<div class="hero">
 <img
 src="../../assets/hero_banner_mamma.jpg"
 alt="Hero Image">
 <div class="hero-text">
 <h1>Rent a Dar !</h1>

 <div class= typewriter>
 <p>T'as pas de daron? Loues en un dans ta région! </p>
 </div>
<%# LA SEARCHBAR  %>

<form class= "homepage_search"action="" method="get">
  <div class="product-search">
      <div class="search-element">
        <label class="search-label">Quelle Specialité cherchez vous?</label>
        <input class="search-input" type="text" autocomplete="on" placeholder="Cuisine, Mecano..." name="badges">
      </div>
      <div class="search-element">
        <label class="search-label">Ou cherchez vous?</label>
        <input class="search-input" type="text" placeholder="Code Postal..." class="" autocomplete="on" name="zip_code">
      </div>
      <a type="submit" class="search-button">Yes papa!</a>
  </div>
</form>

 <%# <a href="#" title="call to action button">Yes papa!</a>
 </div>
 </div> %>


</body>
