<head>

</head>

<body>

<%# LA HERO BANNER %>

<div class="hero">
 <%= image_tag('mama.jpg') %>
 <div class="hero-text">
 <br>
 <br>
 <br>
 <br>
 <br>

 <div>
 <br>
 <p class= typewriter> Rent a Dar dans ta région ! </p>
 </div>
<%# LA SEARCHBAR  %>
<br>
<br>

<form class= "homepage_search" action="/darons" method="get">
  <div class="product-search">
      <div class="search-element">
        <label class="search-label">Quelle Specialité cherchez vous?</label>
        <input class="search-input" type="text" autocomplete="on" placeholder="Cuisine, Mecano..." name="badges">
      </div>
      <div class="search-element">
        <label class="search-label">Ou cherchez vous?</label>
        <input class="search-input" type="text" placeholder="Code Postal..." autocomplete="on" name="zip_code">
      </div>
      <div class="search-element">
        <input type="submit" class="search-button" value="DARONIZE">
      </div>
  </div>
</form>
</body>


<br>
<br>
<br>
<br>
<div class="bouton_homepage_3">
<div>
<%= link_to "Sign Up!", new_user_registration_path %>
</div>
</div>
</div>
