<h1>Les Darons</h1>

  <% @darons.each do |daron| %>
    <img src="<%= daron.profile_picture %>" alt="">
    <p><%= link_to daron.name, daron_path(daron.id) %></p>
    <p>TJM: <%= daron.price %></p>
    <p>Bio: <%= daron.bio %></p>

  <% end %>
